@page "{jobId}"
@model SEP3.Pages.account.jobDetailForPosterModel
@using SEP3.Networking.DTOs
@{
    ViewData["Title"] = "jobDetailForPoster";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="~/css/StyleSheet.css" />

    <title>Account</title>
</head>

<body>
    <div class="layout">
        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>

        <div class="main">
            <a id="back" asp-page="/account/jobManagement">← Back</a>


            @if (Model.Job == null)
            {
                <div class="info">Error</div>
            }
            else
            {
                <div class="buttons">
                    <form>
                        <button type="submit" class="gradientButton" asp-page-handler="Edit">Edit</button>
                    </form>
                    <form>
                        <button type="submit" class="gradientButton" asp-page-handler="Delete">Delete</button>
                    </form>
                </div>


                <div class="title">@Model.Job.title</div>
                <div class="description">Description:@Model.Job.description</div>
                <div class="basicInfo">
                    <ul>
                        <li>category: @Model.Job.category</li>
                        <li>time: @Model.Job.time</li>
                        <li>location: @Model.Job.location</li>

                        <li>wage: @Model.Job.wages</li>
                        <li>status: @Model.Job.status</li>
                    </ul>
                </div>


                <div class="applicants">

                    <div>Applicants accepted:</div>

                    @foreach (Applicant applicant in @Model.applicantsAccepted)
                    {
                        <div>Accepted:</div>
                        <div class="applicant">
                            <div>@applicant.username</div>
                        </div>
                    }


                    <form method="post">
                        @foreach (Applicant applicant in @Model.applicantsNotAccepted)
                        {
                            <div>
                                To Accept:
                                <button class="gradientButton" id="accept" type="submit" asp-page-handler="Accept">Accept</button>
                            </div>

                            <div class="applicant">
                                <input class="checkbox" type="checkbox" name="selectedApplicants" value="@applicant.id" />
                                <div>@applicant.username</div>
                            </div>
                        }

                    </form>

                </div>

            }


        </div>
    </div>


</body>
</html>


