@page
@using SEP3.Models
@model SEP3.Pages.JobsModel
@{
    ViewData["Title"] = "Jobs";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/jobManagement.css" />

    <title>Jobs Management</title>
</head>

<body>
    <div class="layout">


        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>
        <div class="header">
            <div class="menu">
                <div class="item">
                    <a asp-page="/profile"><div class="option" id="profile">Profile</div></a>
                </div>

                <div class="item">
                    <a asp-page="/notification"><div class="option" id="notification">Notification</div></a>
                </div>

                <div class="item">
                    <a asp-page="/jobManagement"><div class="option" id="jobManagement">Jobs</div></a>
                </div>

                <div class="item">
                    <a asp-page="/history"><div class="option" id="history">History</div></a>
                </div>
            </div>
        </div>


       
            
       


        <div class="main">


            <button class="gradientButton">Post</button>


            @if (Model.Jobs.Count == 0)
            {
                <div class="job-wrapper">
                    <div class="info">You haven't posted any job. Click Post to post a new job!</div>
                </div>
            }
            else
            {
                <div class="jobs-wrapper">
                    @foreach (Job job in Model.Jobs)
                    {
                        <div class="job-wrapper">
                            <div class="job">
                                <div class="title">@job.title</div>

                                <div class="applicants">2</div>

                                <div class="basicInfo">
                                    <div>@job.category</div>
                                    <div>@job.time</div>
                                    <div>@job.location</div>
                                    <div>@job.wages</div>
                                    <div>@job.status</div>
                                </div>

                                <div class="description">@job.description</div>
                            </div>
                        </div>
                    }
                </div>
            }



            <div class="pagination">
                @if (Model.ShowPrevious)
                {
                    <div class="page-button">
                        <a asp-page="/SearchResult" asp-route-currentpage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
                    </div>
                }


                <div class="page-dropDownList">
                    <form id="dropDownListForm">
                        <select name="CurrentPage">

                            @for (var i = 1; i < Model.TotalPages + 1; i++)
                            {
                                @if (i == @Model.CurrentPage)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }

                            }
                        </select>
                        <button id="pageSubmitButton" type="submit" asp-page="/SearchResult">go</button>
                    </form>
                </div>


                @if (Model.ShowNext)
                {
                    <div class="page-button">
                        <a asp-page="/SearchResult" asp-route-currentpage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
                    </div>
                }
            </div>







        </div>








    </div>





</body>
</html>