@page
@using SEP3.Models
@model SEP3.Pages.JobsModel
@{
    ViewData["Title"] = "Jobs";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/jobs.css" />

    <title>Jobs Management</title>
</head>

<body>
    <div class="layout">


        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>
        <div class="header">
            <div class="menu">
                <div class="item">
                    <div class="option" id="account">Account</div>
                </div>

                <div class="item">
                    <div class="option" id="notification">Notification</div>
                </div>

                <div class="item">
                    <div class="option" id="jobManagement">Jobs</div>
                </div>

                <div class="item">
                    <div class="option" id="history">History</div>
                </div>
            </div>
        </div>


       
            
       


        <div class="main">


            <button class="gradientButton">Post</button>


            @if (Model.jobs.Count == 0)
            {
                <div class="job-wrapper">
                    <div class="info">You haven't posted any job. Click Post to post a new job!</div>
                </div>
            }
            else
            {
                <div class="jobs-wrapper">
                    @foreach (Job job in Model.jobs)
                    {
                        <div class="job-wrapper">
                            <div class="job">
                                <div class="title">@job.title</div>

                                <div class="applicants">2</div>

                                <div class="basicInfo">
                                    <div>@job.category</div>
                                    <div>@job.time</div>
                                    <div>@job.location</div>
                                    <div>@job.wages</div>
                                </div>

                                <div class="description">@job.description</div>
                            </div>
                        </div>
                    }
                </div>
            }
            



        </div>








    </div>





</body>
</html>