@page
@model SEP3.Pages.accountModel
@{
    ViewData["Title"] = "account";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/profile.css" />

    <title>Profile</title>
</head>

<body>
    <div class="layout">
        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>
        <div class="header">
            <div class="menu">
                <div class="item">
                    <a asp-page="/account/profile"><div class="option" id="profile">Profile</div></a>
                </div>

                <div class="item">
                    <a asp-page="/account/notification"><div class="option" id="notification">Notification</div></a>
                </div>

                <div class="item">
                    <a asp-page="/account/jobManagement"><div class="option" id="jobManagement">Jobs</div></a>
                </div>

                <div class="item">
                    <a asp-page="/account/history"><div class="option" id="history">History</div></a>
                </div>
            </div>
        </div>

        <div class="main">

            @if (Model.Account == null)
            {
                    <div class="info">
                        <center>Error.</center><br> <center>please refresh or login again</center>
                     </div>
             }
             else
             {
                  <div class="account-info">
                        <div>Username:<br />@Model.Account.username</div>
                        <div>password:<br />@Model.Account.password</div>
                        <div>name:<br />@Model.Account.lastName @Model.Account.firstName</div>
                        <div>e-mail:<br />@Model.Account.email</div>
                        <div>phone:<br />@Model.Account.phone</div>
                        <div>date of birth:<br />@Model.Account.birthdate</div>
                  </div>
              }

        </div>

        </div>

</body>
</html>