@page
@model SEP3.Pages.accountModel
@{
    ViewData["Title"] = "account";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/profile.css" />

    <title>Profile</title>
</head>

<body>
    <div class="layout">
        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>
        <div class="header">
            <div class="menu">
                <div class="item">
                    <a asp-page="/account/profile"><div class="option" id="profile">Profile</div></a>
                </div>

                <div class="item">
                    <a asp-page="/account/notification"><div class="option" id="notification">Notification</div></a>
                </div>

                <div class="item">
                    <a asp-page="/account/jobManagement"><div class="option" id="jobManagement">Jobs</div></a>
                </div>

                <div class="item">
                    <a asp-page="/account/history"><div class="option" id="history">History</div></a>
                </div>
            </div>
        </div>

        <div class="main">

            @if (Model.Account == null)
            {
                <div class="info">
                    <center>Error.</center><br> <center>please refresh or login again</center>
                </div>
            }
            else
            {
        <div class="account-info">
            <h1>Username:</h1>
            <div>@Model.Account.username</div>
            <br />
            <h2>password:</h2>
            <div>@Model.Account.password</div>
            <br />
            <h2>name:</h2>
            <div>@Model.Account.lastName @Model.Account.firstName</div>
            <br />
            <h2>e-mail:</h2>
            <div>@Model.Account.email</div>
            <br />
            <h2>phone:</h2>
            <div>@Model.Account.phone</div>
            <br />
            <h2>date of birth:</h2>
            <div>@Model.Account.birthDate</div>
        </div>

                <a asp-page="/account/profileEdit" id="edit"><div class="gradientButton">Edit</div></a>
            }

        </div>

        </div>

</body>
</html>