@page
@model SEP3.Pages.jobDetailModel
@{
    ViewData["Title"] = "jobDetail";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="~/css/jobDetailForViewer.css" />

    <title>Account</title>
</head>

<body>
    <div class="layout">
        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>

        <div class="main">
            <a id="back" href="">← Back</a>

            @if (Model.Job == null)
            {
                <div class="info">
                    Error
                </div>
            }
            else
            {
                <div class="title">@Model.Job.title</div>
                <div class="description">Description:@Model.Job.description</div>
                <div class="basicInfo">
                    <ul>
                        <li>category: @Model.Job.category</li>
                        <li>time: @Model.Job.time</li>
                        <li>location: @Model.Job.location</li>

                        <li>wage: @Model.Job.wages</li>
                        <li>status: @Model.Job.status</li>
                    </ul>
                </div>
                <div class="posterInfo">
                    Poster Info:
                    <ul>
                        <li>username:</li>
                        <li>e-mail:</li>
                    </ul>
                </div>
                <button class="gradientButton">Apply</button>
            }


            </div>
    </div>


</body>
</html>


